@use "sass:math";
@use "vars" as *;

html,
body{
  overflow-x: hidden;
  background-color: #F4F7FF;
  font-family: "Roboto", sans-serif;
}

.dart_wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
}

.dart_header {
  flex: 0 0 auto;
  position: relative;
  z-index: 2;
}

.dart_main {
  flex: 1 0 auto;
  position: relative;
  z-index: 1;
}

.dart_footer {
  flex: 0 0 auto;
}

h1, h2, h3{
  font-size: 40px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1.3;
  color: var(--primary-color);
  font-family: "Oswald", sans-serif;

  b {
    font-weight: 500;
    color: var(--secondary-color);
  }
}

@mixin button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18.5px 35px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
  border: 0px;
  border-radius: 8px;
  background-color: var(--secondary-color);
  font-family: "Roboto", sans-serif;

  img {
    display: block;
  }
}

// Cards
.cards{
  margin-bottom: 90px;
  display: block;
  .cards__inner{
    display: block;
    .cards__top{
      margin-bottom: 126px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .cards__title{
        font-size: 56px;
        font-weight: 700;
        b{
          font-size: 56px;
          font-weight: 700;
        }
      }
      .cards__text{
        font-size: 28px;
        font-weight: 400;
        font-family: "Roboto",sans-serif;
        color: var(--primary-color);
      }
    }
    .cards__container{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 30px;
      .cards__item{
        display: block;
        position: relative;
        z-index: 1;
        .cards__item__inner__mobile{
          display: none;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 4%;
          z-index: 200;
          .cards__item__name{
            margin-bottom: 20px;
            font-size: 36px;
            text-transform: uppercase;
            line-height: 1.3;
            font-weight: 500;
            font-family: "Oswald", sans-serif;
            color: var(--primary-color);
          }
          .cards__button__mobile{
            @include button;
            width: 100%;
            padding: 10px 20px;
            text-transform: lowercase;
            img{
              margin-left: 10px;
            }
          }
        }
        .cards__img{
          display: block;
          position: absolute;
          bottom: 0;
          left: 0;
          z-index: 100;
        }
        .cards__background{
          display: block;
          border-radius: 20px;
        }
        .cards__background__mobile{
          border-radius: 30px;
          width: 100%;
          display: none;
        }
        .cards__button{
          @include button;
          font-family: "Oswald", sans-serif;
          width: 81.03%;
          position: absolute;
          bottom: 29.5px;
          left: 10%;
          z-index: 200;
        }
      }
    }
  }
}

// Offers
.offers{
  margin-bottom: 90px;
  display: block;
  .offers__inner{
    display: block;
    .offers__top{
      margin-bottom: 60px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .swiper__buttons{
        margin: 0 -5px;
        display: flex;
        .swiper-button-prev, .swiper-button-next{
          margin: 5px;
          display: block;
          padding: 8px;
          border: 2px var(--secondary-color) solid;
          border-radius: 6px;
          img{
            display: block;
          }
          svg{
            display: none;
          }
        }
      }
    }
    .offers__swiper{
      width: calc(50vw + 760px);
      .swiper{
        .swiper-wrapper{
          .swiper-slide{
            width: 358px;
            .offers__item{
              display: block;
              justify-content: space-between;
              padding: 30px;
              background-color: #fff;
              border-radius: 15px;
              .offers__item__top{
                margin-bottom: 30px;
                display: block;
                .offers__item__title{
                  font-size: 18px;
                  font-weight: 500;
                  color: var(--secondary-color);
                }
              }
              .offers__item__bottom{
                display: flex;
                justify-content: space-between;
                .offers__item__text{
                  font-size: 18px;
                  font-weight: 400;
                  color: var(--primary-color);
                }
                .offers__item__link{
                  align-self: flex-end;
                  flex-shrink: 0;
                  display: block;
                  width: 24px;
                  height: 24px;
                  .offers__item__icon{
                    display: block;
                    width: 24px;
                    height: 24px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

// Info 
.info{
  margin-bottom: 60px;
  .info__inner{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    .video__container{
      position: relative;
      border-radius: 15px;
      overflow: hidden;
      .video__item{
        width: 100%;
        display: block;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
      .video__play{
        display: block;
        transition: all .2s;
        border: 0px;
        background-color: transparent;
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 100;
        transform: translate(-50%, -50%);
      }
    }
    .info__right{
      padding: 72px 84px;
      background-color: var(--primary-color);
      border-radius: 15px;
      .info__title{
        margin-bottom: 50px;
        color: #fff;
        font-size: 28px;
        font-weight: 400;
      }
      .info__video__sm-desktop{
        margin-bottom: 50px;
        display: none;
        position: relative;
        border-radius: 15px;
        overflow: hidden;
        width: 100%;
        .info__left{
          .video__container{
            width: 100%;
            height: 100%;
            display: block;
            object-fit: cover;
            object-position: center center;
          }
          .video__play{
            display: block;
            transition: all .2s;
            border: 0px;
            background-color: transparent;
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 100;
            transform: translate(-50%, -50%);
          }
        }
      }
      .info__right__container{
        margin-bottom: 50px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 45px 60px;
        .info__right__item{
          border-left: 2px rgba($color: #9fc1ffb8, $alpha: 0.2) solid;
          padding-left: 20px;
          display: block;
          .info__check{
            display: none;
          }
          .info__right__item__title{
            font-size: 18px;
            font-weight: 500;
            color: #5380FF;
            & + div{
              margin-top: 15px;
            }
          }
          .info__right__item__text{
            font-size: 14px;
            font-weight: 400;
            color: #DEE9FF;
          }
        }
      }
      .info__right__buttons{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .info__right__button{
          @include button;
          &:first-child{
            width: 42%;
          }
          &:last-child{
            width: 52%;
          }
        }
      }
    }
  }
}


@media (max-width: $desktop) {
  h1, h2, h3{
    font-size: 38px;
  }



  // Cards
  .cards{
    margin-bottom: 80px;
    .cards__inner{
      .cards__top{
        margin-bottom: 106px;
        .cards__title{
          font-size: 44px;
          font-weight: 700;
          b{
            font-size: 44px;
            font-weight: 700;
          }
        }
        .cards__text{
          font-size: 20px;
        }
      }
      .cards__container{
        .cards__item{
          .cards__button{
            padding: 12.5px 26px;
            width: 81.03%;
            bottom: 26px;
          }
        }
      }
    }
  }

  .offers{
    margin-bottom: 80px;
    .offers__inner{
      .offers__swiper{
        .swiper{
          .swiper-wrapper{
            .swiper-slide{
              width: 362px;
            }
          }
        }
      }
    }
  }

  .info{
    .info__inner{
      .info__right{
        padding: 54px 60px;
        .info__title{
          font-size: 24px;
        }
        .info__right__container{
          .info__right__item{
            .info__right__item__title{
              font-size: 16px;
              & + div{
                margin-top: 6px
              }
            }
            .info__right__item__text{
              font-size: 12px;
            }
          }
        }
        .info__right__buttons{
          .info__right__button{
            padding: 14.5px 18px;
            font-size: 12px;
          }
        }
      }
    }
  }

}

@media (max-width: $small-desktop) {
  h1, h2, h3{
    font-size: 32px;
  }


  .cards{
    margin-bottom: 75px;
    .cards__inner{
      .cards__top{
        margin-bottom: 106px;
        .cards__title{
          font-size: 36px;
          font-weight: 700;
          b{
            font-size: 36px;
            font-weight: 700;
          }
        }
        .cards__text{
          font-size: 16px;
        }
      }
      .cards__container{
        .cards__item{
          .cards__button{
            padding: 10.5px 22px;
            width: 81.03%;
            bottom: 20px;
          }
        }
      }
    }
  }

  .offers{
    margin-bottom: 75px;
    .offers__inner{
      .offers__top{
        margin-bottom: 50px;
      }
      .offers__swiper{
        .swiper{
          .swiper-wrapper{
            .swiper-slide{
              width: 278px;
            }
          }
        }
      }
    }
  }

  .info{
    .info__inner{
      display: block;
      grid-template-columns: 1fr;
      .video__container{
        display: none;
      }
      .info__right{
        padding: 92px 104px;
        .info__title{
          margin-bottom: 46px;
        }
        .info__video__sm-desktop{
          margin-bottom: 46px;
          max-height: 320px;
          display: block;
          .video__container{
            display: block;
          }
        }
        .info__right__container{
          margin-bottom: 46px;
        }
      }
    }
  }
}

@media (max-width: $tablets) {
  h1, h2, h3{
    font-size: 30px;
  }



  .cards{
    margin-bottom: 70px;
    .cards__inner{
      .cards__top{
        margin-bottom: 86px;
        .cards__title{
          font-size: 32px;
          font-weight: 700;
          b{
            font-size: 32px;
            font-weight: 700;
          }
        }
        .cards__text{
          display: none;
        }
      }
      .cards__container{
        .cards__item{
          .cards__background{
            border-radius: 10px;
          }
          .cards__button{
            padding: 8.5px 16px;
            font-size: 12px;
            width: 81.03%;
            bottom: 20px;
            img{
              width: 20px;
              height: 20px;
            }
          }
        }
      }
    }
  }

  .offers{
    margin-bottom: 70px;
    .offers__inner{
      .offers__top{
        margin-bottom: 40px;
        .swiper__buttons{
          display: none;
        }
      }
      .offers__swiper{
        .swiper{
          .swiper-wrapper{
            .swiper-slide{
              width: 305px;
            .offers__item{
              background-color: #E2EAF9;
              .offers__item__top{
                margin-bottom: 20px;
              }
            }
            }
          }
        }
      }
    }
  }

  .info{
    .info__inner{
      .info__right{
        padding: 54px 72px;
        .info__title{
          margin-bottom: 42px;
          font-size: 32px;
        }
        .info__video__sm-desktop{
          margin-bottom: 42px;
        }
        .info__right__container{
          margin-bottom: 42px;
          grid-template-columns: 1fr;
          gap: 30px;
          .info__right__item{
            padding: 0px;
            display: flex;
            border: 0px;
            .info__check{
              margin-right: 10px;
              display: block;
              width: 36px;
              height: 36px;
              align-self: flex-start;
            }
            .info__right__item__title{
              font-size: 24px;
            }
            .info__right__item__text{
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: $small-tablets) {
  h1, h2, h3{
    font-size: 24px;
  }


  .cards{
    .cards__inner{
      .cards__top{
        margin-bottom: 66px;
        .cards__title{
          font-size: 30px;
          font-weight: 700;
          b{
            font-size: 30px;
            font-weight: 700;
          }
        }
        .cards__text{
          display: none;
        }
      }
      .cards__container{
        grid-template-columns: 1fr;
        gap: 90px;
        .cards__item{
          .cards__item__inner__mobile{
            display: block;
          }
          .cards__img{
            left: auto;
            right: 0;
            max-width: 300px;
            bottom: 5px;
          }
          .cards__background{
            display: none;
          }
          .cards__background__mobile{
            display: block;
          }
          .cards__button{
            display: none;
          }
        }
      }
    }
  }

  .offers{
    .offers__inner{
      .offers__top{
        margin-bottom: 36px;
      }
      .offers__swiper{
        .swiper{
          .swiper-wrapper{
            .swiper-slide{
              width: 285px;
            }
          }
        }
      }
    }
  }

  .info{
    margin-bottom: 50px;
    .info__inner{
      .info__right{
        margin: 0px -20px;
        padding: 46px 72px;
        .info__title{
          margin-bottom: 40px;
          font-weight: 500;
          font-size: 24px;
        }
        .info__video__sm-desktop{
          margin-bottom: 40px;
        }
        .info__right__container{
          margin-bottom: 40px;
          .info__right__item{
            .info__check{
              width: 24px;
              height: 24px;
            }
            .info__right__item__title{
              font-size: 18px;
            }
            .info__right__item__text{
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: $big-phones) {
  h1, h2, h3{
    font-size: 22px;
  }

  .cards{
    margin-bottom: 60px;
    .cards__inner{
      .cards__top{
        margin-bottom: 56px;
        .cards__title{
          font-size: 28px;
          font-weight: 700;
          b{
            font-size: 28px;
            font-weight: 700;
          }
        }
      }
      .cards__container{
        grid-template-columns: 1fr;
        gap: 60px;
        .cards__item{
          .cards__item__inner__mobile{
            .cards__item__name{
              margin-bottom: 15px;
              font-size: 22px;
            }
            .cards__button__mobile{
              img{
                width: 18px;
                height: 18px;
              }
            }
          }
          .cards__img{
            left: auto;
            right: 0;
            max-width: 220px;
            bottom: 5px;
          }
          .cards__background__mobile{
            border-radius: 20px;
          }
        }
      }
    }
  }

  .offers{
    margin-bottom: 60px;
    .offers__inner{
      .offers__top{
        margin-bottom: 32px;
      }
      .offers__swiper{
        .swiper{
          .swiper-wrapper{
            .swiper-slide{
              .offers__item{
                .offers__item__top{
                  margin-bottom: 16px;
                }
              }
            }
          }
        }
      }
    }
  }

  .info{
    .info__inner{
      .info__right{
        padding: 38px 24px;
        .info__title{
          margin-bottom: 38px;
          font-size: 20px;
        }
        .info__video__sm-desktop{
          margin-bottom: 38px;
        }
        .info__right__container{
          margin-bottom: 38px;
        }
        .info__right__buttons{
          flex-wrap: wrap;
          .info__right__button{
            font-size: 14px;
            padding: 14.5px 26px;
            & + a{
              margin-top: 10px;
            }

            &:first-child{
              width: 100%;
            }
            &:last-child{
              width: 100%;
            }
          }
        }
      }
    }
  }
}

@media (max-width: $phones) {
  h1, h2, h3{
    font-size: 20px;
  }


  .cards{
    margin-bottom: 50px;
    .cards__inner{
      .cards__top{
        margin-bottom: 32px;
        .cards__title{
          font-size: 26px;
          font-weight: 700;
          b{
            font-size: 26px;
            font-weight: 700;
          }
        }
      }
      .cards__container{
        gap: 40px;
        .cards__item{
          .cards__item__inner__mobile{
            .cards__item__name{
              margin-bottom: 10px;
              font-size: 16px;
            }
            .cards__button__mobile{
              padding: 6px 10px;
              font-size: 12px;
              img{
                width: 18px;
                height: 18px;
              }
            }
          }
          .cards__img{
            left: auto;
            right: 0;
            max-width: 140px;
            bottom: 5px;
          }
          .cards__background__mobile{
            border-radius: 10px;
          }
        }
      }
    }
  }

  .offers{
    margin-bottom: 50px;
    .offers__inner{
      .offers__top{
        margin-bottom: 26px;
      }
      .offers__swiper{
        .swiper{
          .swiper-wrapper{
            .swiper-slide{
              width: 267px;
            }
          }
        }
      }
    }
  }

  .info{
    .info__inner{
      .info__right{
        padding: 36px 20px;
        .info__title{
          margin-bottom: 36px;
          font-size: 18px;
          span {
            display: none;
          }
        }
        .info__video__sm-desktop{
          margin-bottom: 36px;
        }
        .info__right__container{
          margin-bottom: 36px;
          gap: 20px;
          .info__right__item{
            .info__right__item__title{
              font-size: 16px;
            }
          }
        }
        .info__right__buttons{
          flex-wrap: wrap;
          .info__right__button{
            font-size: 12px;
            padding: 12px 20px;
          }
        }
      }
    }
  }
}